/*
Utilitzaré el id table1 per alinear el text de tots els td
i cambiaré la font per defecte
*/
#select1,#select2,#select3,#table1,#acceptbutton,#resetbutton { 
	text-align:center;
	font-family: monospace;
	font-size: 15px;
	
}

/*
Utilizaré també css per modificar el header
*/

h1 {
	font-family: monospace;
	margin-left:40%
}

body {
	background-color: lightyellow;
}

/*
Finalment uns retocs a la taula sencera
*/
#table1 {
	background-color: lightblue;
	margin-left:25%
}
